#container{
	min-height: 1024px;
}

#ht-logo{
	height: 60px;
}


header{
	background-color: #fff;
	margin-bottom: 2px;
}

header a.nav-link{
	color: #000;
	padding-right: 40px;
	font-weight: bold;
}

nav.ht-navbar.navbar.navbar-expand-lg{
	padding-top: 0;
	padding-bottom: 0;
}

.ht-step-label{
	display: inline-block;
	padding: 5px;
	font-weight: bold;
    text-align: center;
    font-size: 19px;
    width: 15%;
}

.ht-steps{
	box-sizing: border-box;
    padding-bottom: 25px;
    border-bottom: solid 3px #169bd5;
}

hr.blue-line{
	background-color: #169bd5;
	margin: 0px;
	height: 2px;
	margin-top: 20px;
}

.ht-step{
	display: inline-block;
	height: 100%;
}

.ht-step>span{
	margin-left: 10px;
	
	font-weight: bold;
}

button.ht-search{
	background: url(../img/search.png) no-repeat;
    height: 30px;
    width: 30px;
}


button.ht-search-shopping{
	background: url(../img/search.png) no-repeat;
    height: 30px;
    width: 4%;
    box-sizing: border-box;
}

input#ht-search {
    	width: 100%;
}

@media (max-width: 1128px)
{
	button.btn.my-2.my-sm-0.ht-search{
		display: none;
	}
	button.btn.my-2.my-sm-0.ht-search-shopping{
		display: none;
	}
}

input.form-control.mr-sm-2.ht-search-bar{
	width: 86%;
}

input.form-control.mr-sm-2.ht-search-shopping{
	width: 95%;
}

.ht-head-category{
	background-color: #343a40;
	border: solid 1px  #169bd5;
	color: #fff;
}

ul.ht-category{
	border: solid 1px  #169bd5;
	list-style-type: none;
	padding: 0;
	text-align: center;
	margin-top: 40px;
}

li.ht-category-item{
	border: solid 1px  #169bd5;
	padding: 10px;
}

li.ht-category-item:hover{
	background-color: #f8f9fa;
}

a#dropdownMenuLink {
    background-color: #fff;
    color: #000;
}

.dropdown{
	display: inline-block;
}

.ht-title{
	color: #0033ff; 
	font-weight: bold;
	font-size: 18px; 
	padding-left: 60px;
	text-shadow: 2px 2px #e1e1e1;
}

img.ht-card-img{
	height: 234px;
}

div.ht-card{
	text-align: center;
	border: none;
	padding: 0 5px;
}

p.card-text{
	/*color: #ff6600;*/
	font-weight: bold;
	padding: 0;
}

button.btn.btn-outline-primary.col-sm-1.offset-sm-5 {
    max-width: 100%;
}

.ht-contact{
	background-color: #f9f9f9;
	text-align: left;
}

.ht-contact-item{
	padding: 10px;
    font-weight: lighter;
}

footer{
	height: 100px;
	background-color: #343a40;
	color: #fff; 
	font-weight: bold;
	text-align: center;
	margin-top: 30px;
}

footer>p{
	padding-top: 40px;
}

.ht-support{
	position: fixed;
	bottom: 20px;
	right: 20px;
	border: solid 1px #ff6600;
    border-radius: 26px;
    padding: 0;
    background-color: #fff;
}

header a.nav-link.ht-register{
	background-color: #ff6600;
	color: #fff;
}

hr.ht-first-blue{
	width: 5%;
}
hr.ht-second-blue{
	width: 80%;
}

@media (max-width: 575px)
{
	hr.ht-first-blue{
		width: 0;
	}
	hr.ht-second-blue{
		width: 0;
	}
	p.ht-step-label{
		width: 100%;
		padding: 40px;
		font-size: 35px;
		border-bottom: solid 3px #007bff;
	}
	.ht-steps{
		text-align: auto;

	}
	.ht-step{
		padding-left: 40%;
	}
}

header a.nav-link.ht-current{
	color: #0033ff;
	border-bottom: solid 1px;
}

.card-text-shopping{
	color: #000;
	font-weight: bold;
	padding: 0;
	margin: 0;
	height: 42px;
	overflow: hidden;
	font-size: 14px;
}

.ht-saleoff{
	font-weight: bold;
	color: red;
	padding: 0 5px;
}

i.fas{
	padding: 5px;
}

header li.nav-item{
	margin: 0 5px;
}

.ht-support i.fa-envelope{
	zoom: 2.3;
	color: #ff6600; 
}

#container a:hover{
	text-decoration: none;
}

@media (max-width: 767px){
	.ht-step.col-md-3.col-sm-12{
		    padding: 5%;
    		padding-left: 40%;
	}

}

@media (max-width: 992px){
	.ht-aside{
		width: 100%;
		padding-bottom: 20px;
	}
		.ht-contact-item{
		padding-left: 35%;
	}
}

@media (min-width: 768px) and (max-width: 960px){
	.ht-step.col-md-3.col-sm-12>span{
		display: block;
	}
}

p.ht-info-cost{
	margin: 0;
	font-size: 12px;
	overflow: hidden;
}

header .navbar-brand{
	padding: 1px;
}

header#ht-navbar{
	position: fixed;
	width: 100%;
	border-bottom: solid 1px darkgray;
	z-index: 1000000;
}

.ht-checkbox{
	font-size: 13px;
}

.ht-title-check{
	padding-top: 20px;
}

input[name="type-tshirt"], input[name="color-tshirt"], input[name="sleeve-tshirt"]{
	margin-right: 5px;
}

section#ht-type-tshirt, section#ht-color-tshirt, section#ht-sleeve-tshirt{
	padding-left: 30px;
}

.card-body>p{
	padding:0;
}